.wrapper {
    margin: 5px;
}

.face {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 90px solid saddlebrown;
}

#nose {
    width: 8px;
    height: 8px;
    border: solid 1px black;
    border-radius: 2px;
    z-index: 1;
    position: relative;
    left: -5px;
    top: -10px;
    background-color: black;
}

.righteye {
    width: 8px;
    height: 8px;
    border: solid 2px black;
    border-radius: 2px;
    z-index: 1;
    position: relative;
    left: 8px;
    top: -80px;
    background-color: black;
}

.lefteye {
    width: 8px;
    height: 8px;
    border: solid 2px black;
    border-radius: 2px;
    z-index: 1;
    position: relative;
    left: -18px;
    top: -92px;
    background-color: black;
}
#leftpupil {
    width: 3px;
    height: 3px;
    border: solid 1px white;
    border-radius: 2px;
    position: relative;
    left: 2px;
    top: 2px;
    background-color: white;
}

#rightpupil {
    width: 3px;
    height: 3px;
    border: solid 1px white;
    border-radius: 2px;
    position: relative;
    left: 2px;
    top: 2px;
    background-color: white;
}

.rightear {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid brown;
    position: relative;
    left: 50px;
    top: 25px;
    
}

.leftear {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid brown;
    
}